@font-face {
  font-family: 'Bodoni Moda';
  src: url('/fonts/BodoniModa.woff2') format('woff2');
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bodoni Moda';
  src: url('/fonts/BodoniModa-Italic.woff2') format('woff2');
  font-weight: 400 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost.woff2') format('woff2');
  font-weight: 300 600;
  font-style: normal;
  font-display: swap;
}
